ul li{
	list-style-type: none;
	margin-right: 10px;
	background-color: green;
	color: white;
	font-size: 20px;

}
ul li a{
	color: white;
}
ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
section{
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	font-size: 25px;
	font-weight: bold;
	line-height: 39px;
}
section p img{
	float: left;
	margin-right: 9px;
	margin-bottom: 10px;
	max-width: 200px;
}
.logo{
	text-align: center;
}
.logo img{
	float: none;
	max-width: 100%;
}